body {
    display: inline-block;
    background-color: #F8F8F8;
    width: 1000px;
    margin-left: calc( (100% - 1000px) / 2);
}

header {
    display: inline-block;
    width: 1000px;
    margin-left: calc( (100% - 1000px) / 2);
    margin-top: 20px;
}

header>img {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
}

nav {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

a {
    display: inline-block;
    float: left;
    margin-left: 10px;
    border: 5px solid transparent;
    line-height: 20px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #D2D2D2;
    text-decoration: none;
}

a:last-of-type {
    border-color: #D2D2D2;
}

main {
    display: inline-block;
    width: 1000px;
    margin-left: calc( (100% - 1000px) / 2);
}

div {
    display: inline-block;
    width: 35%;
    float: left;
    margin: 0px 40px 40px 40px;
}

h1 {
    display: inline-block;
    margin-bottom: 0px;
    color: #9E9E9E;
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    display: inline-block;
    margin-top: 0px;
    color: #B6B6B6;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

main>img {
    display: inline-block;
    width: 45%;
    float: right;
    margin-right: 30px;
}